/* COMMON */

body {
  min-width: 360px;
  font-family: "Inter", sans-serif;
}

ul {
  margin: 0;
}

.sm-wrapper {
  width: 80%;
  margin: auto;
}

.xs-wrapper {
  width: 50%;
  margin: auto;
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  color: #031d4f;
  font-size: 24px;
}

h5 {
  color: #031d4f;
  font-size: 20px;
  font-weight: 600;
}

/* Sections */
.section-padding {
  padding: 50px 0;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  color: #031d4f;
  font-size: 40px;
}

.section-title p {
  font-size: 32px;
  color: #6f7b97;
  padding: 30px 0;
}

.light-blue-bg .section-title h2 {
  color: #fff;
}

/* Color */
.blue-gradient-bg {
  background: linear-gradient(#006aff, #031d4f);
}

.gray-bg {
  background-color: #f3f5f9;
}

.dark-blue-bg {
  background-color: #031d4f;
}

.light-blue-bg {
  background-color: #0034af;
}

.dark-blue {
  color: #031d4f;
}

.light-blue {
  color: #006aff;
}

.white {
  color: #fff;
}

.footer-gradient-bg {
  background: linear-gradient(#031d4f, #04225c);
}

/* Buttons */
.btn_create_account {
  background-color: #579aff;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}

.btn_sign_in {
  background-color: #fff;
  color: #7b7b7b;
  font-weight: 700;
  font-size: 12px;
  position: relative;
}

.btn-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 15px;
  top: 5px;
}

.btn_custom {
  background-color: #fff;
  border: 1px solid #006aff;
  border-radius: 5px;
  color: #006aff;
}

.btn_get_started {
  margin-top: 15px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #006aff;
  font-weight: 500;
}

/* COMMON END */
/* --------------------------------------------------------- */
/* HEADER */

.header_nav {
  padding: 15px 0;
}

.header_main_nav {
  line-height: 34px;
}

.header_logo {
  width: 150px;
}

.header_burger_menu {
  text-align: right;
  font-size: 20px;
  padding-right: 30px;
  color: #006aff;
}

.header_nav a {
  color: #031d4f;
  padding: 15px 0;
}

/* HEADER END */
/* --------------------------------------------------------- */
/* MAIN */

/* Jumbotron Section */

.jumbotron {
  background-image: url(../img/ms-jumbo.jpg);
  margin-bottom: 0;
}

.jumbotron-form {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
}

.jumbotron-form-terms {
  font-weight: 700;
  font-size: 10px;
  padding-top: 10px;
  color: #031d4f;
}

.jumbotron-form-terms a {
  text-decoration: underline;
  color: #006aff;
}

/* Customer Stories Section */

.customers-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  color: #6f7b97;
  padding-bottom: 15px;
}

.customers a i {
  font-size: 10px;
  padding-left: 5px;
}

.customers-logos li img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .customers-logos li {
    width: calc((100% / 6) - 4px);
    padding: 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .customers-logos li {
    width: calc((100% / 2) - 4px);
    padding: 0 20px;
  }
}

/* How Section */

.how ul {
  padding: 30px 0;
}

.how li {
  border-left: 1px solid #7b7b7b;
  padding: 15px 0 15px 15px;
  color: #7b7b7b;
  font-size: 24px;
}

.how-teaser p {
  font-size: 28px;
  color: #6f7b97;
}

.how-steps p {
  color: #6f7b97;
  font-size: 20px;
}

/* Platform Section */

.xs-wrapper .slide-img {
  position: relative;
  margin: 30px;
}

.platform .slide-img .slide-left-arrow {
  position: absolute;
  color: #6f7b97;
  top: 50%;
  transform: translateY(-50%);
  left: -15%;
  font-size: 48px;
}

.platform .slide-img .slide-right-arrow {
  position: absolute;
  color: #031d4f;
  top: 50%;
  transform: translateY(-50%);
  right: -15%;
  font-size: 48px;
}

.slide-undertitle {
  font-size: 20px;
  color: #031d4f;
  text-align: center;
  padding-bottom: 15px;
}

.platform .xs-wrapper ul {
  text-align: center;
}

.xs-wrapper li:first-child {
  background-color: #006aff;
  padding: 5px;
  border: 1px solid #006aff;
  border-radius: 50%;
}
.xs-wrapper li {
  background-color: #f3f5f9;
  padding: 5px;
  border: 1px solid #006aff;
  border-radius: 50%;
}

/* Features Section */

.features-item img {
  padding: 15px 0;
}

.features-item p {
  color: #6f7b97;
  font-size: 18px;
  padding: 15px 0;
}

/* Service Regions Section */

.service-regions h2 {
  color: #fff;
}

.service-region-item {
  color: #f3f5f9;
  padding: 10px 0;
}

.service-region-item:not(:last-child)::after {
  content: "";
  padding-top: 10px;
  width: 95%;
  border-bottom: 1px solid #fff;
}

.service-region-item div:first-child {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.service-region-item div:nth-child(2) {
  color: #bbc5e7;
  font-size: 12px;
}

.service-region-item a {
  font-size: 12px;
  color: #00d7d3;
}

.service-region-item a i {
  font-size: 10px;
  padding-left: 2px;
}

/* Testimonials Section */

.testimonials .slide-img {
  padding: 50px 15px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
}

.testimonials-quote {
  color: #6f7b97;
  font-size: 16px;
  padding-top: 15px;
}

.testimonials-author {
  font-size: 12px;
  color: #031d4f;
  font-weight: 700;
  padding-top: 15px;
}

.testimonials-author-position {
  font-size: 12px;
  font-weight: 300;
  color: #031d4f;
  padding-bottom: 15px;
}

.testimonials .slide-img .slide-left-arrow {
  position: absolute;
  color: #6f7b97;
  top: 50%;
  transform: translateY(-50%);
  left: -15%;
  font-size: 30px;
}

.testimonials .slide-img .slide-right-arrow {
  position: absolute;
  color: #031d4f;
  top: 50%;
  transform: translateY(-50%);
  right: -15%;
  font-size: 30px;
}

/* MAIN END */
/* --------------------------------------------------------- */
/* FOOTER */

footer {
  position: relative;
}

.footer-menu-nav,
.footer-menu-nav a {
  color: #a4aabc;
  font-weight: 300;
  line-height: 30px;
  font-size: 12px;
}

.footer-menu-nav-title {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.footer-copyright,
.footer-payoff,
.footer-socials {
  color: #a4aabc;
  font-size: 12px;
  line-height: 20px;
}

.footer-copyright {
  padding-top: 15px;
  font-weight: 500;
}

.footer-payoff {
  font-weight: 100;
}

.footer-socials {
  padding-top: 5px;
  font-size: 16px;
}

/* Footer Popover */

.popover-shark {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.popover-img {
  position: relative;
  background-color: #006aff;
  padding: 2px;
  width: 75px;
  height: 65px;
  border-radius: 5px;
}

.popover-img img {
  padding-top: 2px;
  width: 100%;
  height: auto;
}

.popover-notification {
  position: absolute;
  top: -10%;
  right: -10%;
  background-color: #ff0006;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  line-height: 22px;
  text-align: center;
  border: 4px solid #fff;
}

.popover-tooltip {
  position: absolute;
  top: 25%;
  left: -400%;
}
